 <div class="user-details">
  <h1> Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-heroku-original-wordmark colored"></i>
      <i class="devicon-facebook-plain-wordmark colored"></i>
      <i class="devicon-google-plain-wordmark colored"></i>
      <i class="devicon-slack-plain-wordmark colored"></i>
      <i class="devicon-sequelize-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-chrome-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-photoshop-plain-wordmark colored"></i>
    </div>
</div>
