<div class="user-details">
  <h1>Blog Posts</h1>
</div>
<div class="blog-links">
  <a href="https://medium.com/@gonzo-hacks/the-fast-and-the-curious-finding-a-race-condition-in-worldcoin-621c89bfbd61" target="_blank">The Fast and the Curious: Finding a Race Condition in Worldcoin</a>
  <a href="https://medium.com/@gonzo-hacks/pat-tastrophe-how-we-hacked-virtuals-4-6b-agentic-ai-cryptocurrency-ecosystem-f850b544d0f5" target="_blank">Pat-tastrophe: How We Hacked Virtuals' $4.6B Agentic AI Cryptocurrency Ecosystem</a>
</div>
