<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:me@danesherrets.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/dane-sherrets-7a049973/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/gonzo-code/"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#press" data-scroll>Press</a>
        <a class="link" href="#blog" data-scroll>Blog</a>
        <a class="link" href="#talks" data-scroll>Talks</a>
      </div>
  </div>
  <a class="down" href="#press" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
