<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:me@danesherrets.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/dane-sherrets-7a049973/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="X (Twitter) – @danesherrets" target="_blank" rel="noopener noreferrer" href="https://x.com/danesherrets">
        </a>
      </div>
      <div class="header-links">
        <a class="pill" href="#press-mentions" data-scroll>
          <span class="pill-icon">{% include icons/newspaper.svg %}</span>
          <span class="pill-label">Press</span>
        </a>
        <a class="pill" href="#blog-posts" data-scroll>
          <span class="pill-icon">{% include icons/pen.svg %}</span>
          <span class="pill-label">Blog</span>
        </a>
        <a class="pill" href="#conference-talks" data-scroll>
          <span class="pill-icon">{% include icons/mic.svg %}</span>
          <span class="pill-icon">{% include_relative ../assets/icons/newspaper.svg %}</span>
          <span class="pill-label">Press</span>
        </a>
        <a class="pill" href="#blog-posts" data-scroll>
          <span class="pill-icon">{% include_relative ../assets/icons/pen.svg %}</span>
          <span class="pill-label">Blog</span>
        </a>
        <a class="pill" href="#conference-talks" data-scroll>
          <span class="pill-icon">{% include_relative ../assets/icons/mic.svg %}</span>
          <span class="pill-label">Talks</span>
        </a>
      </div>
  </div>
  <a class="down" href="#press-mentions" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
