<div class="user-details">
  <h1>Press Mentions</h1>
</div>
<div class="press-mentions">
  <div class="press-item">
    <a href="https://www.wsj.com/articles/welcome-to-the-era-of-badgpts-a104afa8?gaa_at=eafs&gaa_n=ASWzDAho-JhV1v1PAIE_Oh0UNsC1BlUZZBqNd4y3-lAm4rBZrNJlGQuJmIcf8ltua-E%3D&gaa_ts=68995bbf&gaa_sig=ZcmnQBtCPifLyWzibo1FhsY0mwLEmQAjVkWZvT30MqTbvLNjkk6jnL8yqML6CWtyelNYe_L9pMv7o_YM9SAa-A%3D%3D" target="_blank">
      <img src="https://www.wsj.com/favicon.ico" alt="Wall Street Journal logo"/>
    </a>
  </div>
  <div class="press-item">
    <a href="https://www.bbc.com/future/article/20241122-ai-deepfakes-is-there-something-special-about-the-human-voice" target="_blank">
      <img src="https://news.bbcimg.co.uk/nol/shared/img/bbc_news_120x60.gif" alt="BBC logo"/>
    </a>
  </div>
  <div class="press-item">
    <a href="https://www.dailymail.co.uk/sciencetech/article-13088183/hacker-clone-VOICE-fake-audio.html" target="_blank">
      <img src="https://www.dailymail.co.uk/favicon.ico" alt="Daily Mail logo"/>
    </a>
  </div>
  <!-- Template for adding new press mentions:
  <div class="press-item">
    <a href="ARTICLE_URL" target="_blank">
      <img src="LOGO_URL" alt="Outlet name logo"/>
    </a>
  </div>
  -->
</div>
