<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="votify" src="{{ "/assets/img/votify.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Votify </h3>
    <ul>
      <li> D3 </li>
      <li> GeoJSON </li>
      <li> Sequelize</li>
    </ul>
    <p>A web application that enables the user to analyze and visualize voter turnout information. </p>
    <a class="project-link" href="https://votify-washington.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="timebender" src="{{ "/assets/img/timebender.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Time Bender </h3>
    <ul>
      <li> ReactVR </li>
      <li> Simple Raycaster </li>
      <li> Socket.IO </li>
    </ul>
    <p>A Virtual Reality game that enables the user to interact with VR environment using either desktop or mobile devices</p>
    <a class="project-link" href="https://time-bender.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="HitchHyker" src="{{ "/assets/img/HitchHyker.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HitchHyker </h3>
    <ul>
      <li> Chart.js </li>
      <li> Bootstrap </li>
      <li> Javascript </li>
    </ul>
    <p>Travel budget calculator that takes in user input and outputs budget with a pie chart of expenditures. .</p>
    <a class="project-link" href="https://blbaker1989.github.io/HitchHyker/index.html">Check it out</a>
  </div>
</div>
