<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      {{ content }}
        <footer class="site-footer">
          <section id="press-mentions" class="content-section">
          <div class="section-container">
            {% include press.html %}
          </div>
        </section>
          <section id="blog-posts" class="content-section">
          <div class="section-container">
            {% include blog.html %}
          </div>
        </section>
          <section id="conference-talks" class="content-section">
          <div class="section-container">
            {% include talks.html %}
          </div>
        </section>
        {% include footer.html %}
      </footer>
  </body>
</html>
