<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      {{ content }}
      <footer class="site-footer">
        <div class="footer-sections">
          <section id="press" class="footer-section">
            {% include press.html %}
          </section>
          <section id="blog" class="footer-section">
            {% include blog.html %}
          </section>
          <section id="talks" class="footer-section">
            {% include talks.html %}
          </section>
        </div>
        {% include footer.html %}
      </footer>
  </body>
</html>
