<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      {{ content }}
      <footer class="site-footer">
        <section id="press" class="content-section">
          <div class="section-container">
            {% include press.html %}
          </div>
        </section>
        <section id="blog" class="content-section">
          <div class="section-container">
            {% include blog.html %}
          </div>
        </section>
        <section id="talks" class="content-section">
          <div class="section-container">
            {% include talks.html %}
          </div>
        </section>
        {% include footer.html %}
      </footer>
  </body>
</html>
